@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Library Showcase</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.BookTitle</td>
                <td>@book.BookDescription</td>
                <td>@book.BookAuthor</td>
            </tr>
        }
    </tbody>
</table>

